/*** Stílus beállítások***/




.container {
    width: 100%;
    padding-top: 25px;
}

.check-box {
    display: flex;
    height: 100%;
    justify-content: space-evenly;

}

.text-box {
    display: flex;
    flex-direction: column;

}